/* start global rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $main-bg;
    font-family: $family;
}
.container {
    @media (min-width: 1200px) {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    @media (min-width: 922px) and (max-width: 1199px) {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }
    @media (min-width: 768px) and (max-width: 921px) {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
    margin-left: 20px;
    margin-right: 20px;
}
section {
    padding: 60px 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: .3s;
}
h3 {
    font-size: 22px;
    font-weight: 600;
    color: $title-c;
    text-transform: capitalize;
    margin: 25px 0;
}
p {
    font-size: 16px;
    font-weight: 400;
    color: $text-c;
    &::first-letter {
        text-transform: capitalize;
        line-height: 1.6;
    }
}
.pattern {
    margin-bottom: 40px;
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: $title-c;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
}