$family: 'Heebo', sans-serif;

// Primary colors
$sky-blue: #B3D1FA;
$title-c: #323450;
$btn-bg: #2F80ED;
$border-dark: #585978;
$text-c: #7D5980;
$main-bg:#F3F3F3;
$before-btn: rgba(0, 0, 0, 0.1);
//
$link-color-desk: #585978;
$link-color-mob: #324460;
$white: #fff;
